<script>
  
</script>

<link rel="icon" type="image/x-icon" href="/favicon.ico">    
<head>
  
  <title>Home</title>
  
</head>
<%- include('partials/header'); -%>


<header>
  
  <div class="headings">
    <div style="position: relative; left: 15%;">
    <div style="text-align: center;">
      <h1 style="font-size: 180px; position: relative; left: 20%;" >SGComplete<span style="font-size: 30px;">β</span></h1>
      <h4 style="position: relative; left: 40%;">A complete accounting and inventory management system</h4>
    </div>
    <div style="position: relative; left: 50%;">
      <a href="/home/accounts" class="btn">Accounts</a>
      <a href="/home/rentals" class="btn">Rentals</a>
      <a href="/inventory" class="btn">Inventory management</a>
    </div>
  </div>
</div>
</header>

<%- include('partials/footer') -%>
