
<link rel="icon" type="image/x-icon" href="/favicon.ico">    
<head>
  
  <title>Home</title>
  
</head>
<%- include('partials/header'); -%>


<header>
  
  <div class="headings">
    <h2>SG Complete</h2>
    <h3>Under development</h3>
    <a href="/home/accounts" class="btn">Accounts</a>
    <a href="/home/rentals" class="btn">Rentels</a>
    <a href="/inventory" class="btn">Inventory management</a>
  </div>
</header>

<%- include('partials/footer') -%>
