<head>
  <title>Accounts</title>
</head>
<%- include('../partials/header') -%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=crome" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="">
      <h2>Accounts</h2>
      <button class="main"><a href="/home/accounts/check_account">Check Account</a></button>
      <button class="main"><a href="/home/accounts/customers">List Customers</a></button>
      <button class="main"><a href="/home/accounts/debit_issue">Issue Debit</a></button>
      <button class="main"><a href="/home/accounts/debit_pay">Pay Debit</a></button>
      <button class="main"><a href="/home/accounts/create_account">Create customer</a></button>
    </form>
  </body>
</html>
<%- include('../partials/footer') -%>
