<head>
  <title>Debit issue</title>
</head>

<%- include('../partials/header') -%>
<script>
  // console.log(window.location.pathname)
  function update_customer(data){
    const phone = document.querySelector('#phone_selected')
    const cust_name = document.querySelector('.cust_name')
    cust_name.innerHTML = '<div class = "error">Customer not found!</div>'
    console.log(cust_name.value)
    let customers = '<%- JSON.stringify( customers)%>'
    customers = JSON.parse(customers)
    customers.forEach(element => {
      if(phone.value===element.phone)
        cust_name.innerHTML = 'Customer name: '+element.name
    });
  }
</script>

<form>
  <a href="/home/accounts"
    ><p><i class="arrow left"></i></p>
  </a>
  <br />
  <h2>Issue Item</h2>
  <label for="phones">Select a phone number</label>
  <input class="classic" list="phone" name="phone" id="phone_selected" onchange="update_customer()" required/>

  <div class="cust_name" style="color: black;"></div>
<!-- 
  <label for="item_name">Item name</label>
  <input class="classic" type="text" name="item_name" required> -->

  <label for="amount">Amount</label>
  <input class="classic" type="number" name="amount" required>

  <label for="date">Date</label>
  <input class="classic" type="datetime-local" id="date" name="date">

  <label for="remarks">Remarks</label>
  <input class="classic" type="text" name="remarks">
  <div class="success"></div>
  <div class="error"></div>
  <button>Submit</button>
</form>

<datalist id="phone" >
  <% for(var i = 0; i<customers.length; i++) {%> 
    <option value = <%= customers[i].phone %> >
    <% } %>
</datalist>



<script>
const form = document.querySelector('form')
const success = document.querySelector('.success')
const error = document.querySelector('.error')

form.addEventListener('submit', async (e)=>{
  e.preventDefault();
  success.textContent = "";
  error.textContent = "";
  const phone = form.phone.value;
  const amount = form.amount.value;
  // const item_name = form.item_name.value;
  const date = form.date.value;
  const remarks = form.remarks.value;
const cust_name = document.querySelector('.cust_name')
console.log(cust_name)
if(cust_name.textContent.includes('not found')){
  error.innerHTML= 'Customer not found!!'
  return;
}
  try {
      const res = await fetch("/debit_issue", {
        method: "POST",
        body: JSON.stringify({ phone, credit: amount, date, remarks, debit:0 }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      await form.reset();
      dateReset();
      if (data.error) {
        error.textContent = "Error in transection!\n"+data.error
        console.log(data)
      }
      if (data._id) {
        success.textContent = "Transection is successful!"
      }
    } catch (err) {
      error.textContent = "Error in transection!\n"+err
    }

})


window.addEventListener("load", function() {
    var now = new Date();
    var offset = now.getTimezoneOffset() * 60000;
    var adjustedDate = new Date(now.getTime() - offset);
    var formattedDate = adjustedDate.toISOString().substring(0,16); // For minute precision
    var datetimeField = document.getElementById("date");
    datetimeField.value = formattedDate;
});
const dateReset = ()=>{
  var now = new Date();
    var offset = now.getTimezoneOffset() * 60000;
    var adjustedDate = new Date(now.getTime() - offset);
    var formattedDate = adjustedDate.toISOString().substring(0,16); // For minute precision
    var datetimeField = document.getElementById("date");
    datetimeField.value = formattedDate;
}
</script>
<%- include('../partials/footer') -%>
