<head>
    <title>Register tool</title>
</head>

<%- include('../partials/header') -%>

<form action="">
    <h2>Register tool</h2>

    <label for="tool"><h3> Tool name</h3></label>
    <input type="text" id="tool" name="tool">

    <label for="date"><h3> Tool registration date </h3></label>
    <input class="classic" type="datetime-local" id="date" name="date" >

    <label for="rent"> <h3>Default rent</h3></label>
    <input type="number" id="rent" name="rent">

    <label for="remarks"><h3> Remarks</h3></label>
    <input type="text" id="remarks" name="remarks">

    <button>Submit</button>
    <div class="success"></div>
    <div class="error"></div>
</form>
<br><br>


<%- include('../partials/footer') -%>


<script>
    const form  = document.querySelector('form')
    const tool = document.querySelector('#tool')
    const date = document.querySelector('#date')
    const remarks = document.querySelector('#remarks')
    const rent = document.querySelector('#rent')
    const error = document.querySelector('.error')
    const success = document.querySelector('.success')

    
    form.addEventListener('submit', async (e)=>{
        e.preventDefault()
        fetch('/rentals/register_tool', {
            method:'POST',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify( { 
                tool:tool.value,
                date:date.value,
                remarks:remarks.value,
                default_rent: rent.value
            })
        }).then(tool=>tool.json()).then(tool=>{let result='tool registered succesfully!!'
                 result+=(tool._id?('\nId:'+tool._id):'')
                 success.textContent = result
                form.reset()
                dateReset()
            }).catch(err=>error.textContent=err.error)
    })
</script>

<script>
      window.addEventListener("load", function() {
      var now = new Date();
      var offset = now.getTimezoneOffset() * 60000;
      var adjustedDate = new Date(now.getTime() - offset);
      var formattedDate = adjustedDate.toISOString().substring(0,16); // For minute precision
      var datetimeField = document.getElementById("date");
      datetimeField.value = formattedDate;
  });
  const dateReset = ()=>{
    var now = new Date();
      var offset = now.getTimezoneOffset() * 60000;
      var adjustedDate = new Date(now.getTime() - offset);
      var formattedDate = adjustedDate.toISOString().substring(0,16); // For minute precision
      var datetimeField = document.getElementById("date");
      datetimeField.value = formattedDate;
  }
</script>