<head>
  <title>Rentals</title>
</head>

<style>
  .container {
    height: 200px;
    position: relative;
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
</style>

<%- include('../partials/header') -%>

<form>
  <h2>Rentals</h2>

  <button class="main" type="button" onclick="issueRent()">Rent Tool</button>
  <button class="main" type="button" onclick="returnTool()">Return Tool</button>
  <button class="main" type="button" onclick="registerTool()">
    Register tool
  </button>
  <button class="main" type="button" onclick="activeTransections()">
    Active transactions
  </button>
</form>

<script>
  const issueRent = () => {
    location.assign("/home/rentals/issue");
  };

  const returnTool = () => {
    location.assign("/home/rentals/return_item");
  };
  const registerTool = () => {
    location.assign("/home/rentals/register_tool");
  };

  const activeTransections = () => {
    location.assign("/home/rentals/active_transections");
  };
</script>
<%- include('../partials/footer') -%>
