<head>
  <title>Return Item</title>
</head>

<%- include('../partials/header'); -%>

<datalist id="phone" >
  <% for(var i = 0; i<phones.length; i++) {%>
    
    <option value = <%= phones[i] %> >
  <% } %>
</datalist>

<form action="">
  <h2>Return tool</h2>
  <label for="phone">Select a phone number</label>
  <input class="classic" list="phone" name="phone" id="phone_input"/>
  <button type="button" onclick="getCustomerDetails()">Get details</button>
  <div class="success"></div>
  <div class="error"></div>
</form>
<br>
<div style="text-align: center;">
<img class="result_image" \>
</div>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    
<header>
  <div class="headings">
    <h4 class="model_text"></h4>
    <a href="#" onclick="return_tool_cancel()" class="btn">Cancel</a>
    <a href="#" onclick="return_tool_okay()" class="btn">Okay</a>
  </div>
  </header>
    <!-- <button type="button" onclick="return_tool_cancel()">Cancel</button> -->
  </div>

</div>

<div class="tableData"></div>

<script>
 var data;
 async function getCustomerDetails(){ 
  const phone = document.querySelector('#phone_input').value
  const image = document.querySelector('.result_image')
  // console.log(phone)
const tableData = document.querySelector('.tableData')
   var rentals_details = await fetch('/home/rentals/rental_details?phone='+phone,{
    method:'GET',
    headers:{'Content-Type': 'application/json'},
  })
  var picture_url = ''
  data = await rentals_details.json()
  // console.log(data)
  var tem = '<br/><table id = "customers"><tr><th>Customer name</th><th>Tool</th><th>Date</th><th>Rent per day</th><th>Total days</th><th>Total rent</th></tr>'
      //   document.write('')

      for(let i = 0;i<data.length;i++){
        if(data[i].photo_url != '')
          picture_url = data[i].photo_url
        const time = new Date(data[i].date).toLocaleString('en-IN')
        // const time = getFormettedDate(data[i].time)
        tem+=('<tr onclick="clearRecord(\''+data[i]._id+'\')"><td>'+data[i].customer_name+'</td><td>'+data[i].tool+'</td><td>'+time+'</td><td>'+data[i].default_rent+'</td><td>'+data[i].total_days+'</td><td>'+data[i].total_rent+'</td></tr>')
      }
      tem+='</table><br><br>'
      image.src = picture_url
      tableData.innerHTML = tem;

  // console.log(rentals_details)
 }
var transection_to_be_returned = ''
 function clearRecord(id){
  transection_to_be_returned = id
  const result = document.querySelector('.model_text')
  // console.log("Hello called!!"+id)
  // alert("Please collect money from the customer")
  var tool;
  var total_rent;
  for(var i =0;i<data.length;i++){
    if(data[i]._id == id){
      total_rent = data[i].total_rent
      tool = data[i].tool
      break
    }
  }
  result.innerHTML = '<h4>Please collect <b> <h3>'+tool+'</h3></b> and <b><h3>₹'+total_rent+'</h3></b> from the customer</h4>'
  modal.style.display = "block";
  console.log(data)
 }
 const error = document.querySelector('.error')
 const success = document.querySelector('.success')

async function return_tool_okay(){

var data = await fetch('/rentals/return_item',{
  method:'POST',
  headers:{'Content-Type':'application/json'},
  body: JSON.stringify({"transection_id" : transection_to_be_returned})
})

data = await data.json()

if(data.error){
  error.innerHTML = data.error
}else{
  success.innerHTML = "Transection updated successfully"
  setTimeout(location.reload(), 5000)
  
}
  modal.style.display = "none";
  console.log("return tool okay")
}

function return_tool_cancel(){
  modal.style.display = "none";
  console.log("return tool cancel")
}
</script>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
   
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  // window.onclick = function(event) {
  //   if (event.target == modal) {
  //     modal.style.display = "none";
  //   }
  // }
  </script>
  

<%- include('../partials/footer') -%>
